<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= title %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link href= "/public/assets/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
  
<img id="iimg" src="/public/assets/logo.png" alt="" srcset="">
<div class="container">
  <h2 id="ind"><%= title %></h2>
  <a id="butn" href="/add" class="wrapper">Add Quote</a><br/><br/>
  <table id="tabb" class="table table-dark table-striped">
    <thead>
      <tr>
        <th>Author</th>
        <th>Email</th>
        <th>Quote</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
        <% users.forEach(function(user){ %>
            <tr>
                <td><%= user.name %></td>
                <td><%= user.email %></td>
                <td><%= user.quote %></td>
                <td>
                    <a href="edit/<%= user.id %>" class="btn btn-sm btn-primary">Edit</a>
                    <a href="delete/<%= user.id %>" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        <% }); %>
    </tbody>
  </table>
</div>

</body>
</html>